@mixin bigTitle {
  color: aquamarine;
  font-size: 6rem;
}

@mixin floating {
  border-radius: 20px;
  box-shadow:  5px 10px #888888;
  border: 1px solid black;
  background-image: url("./assets/painting-mountain-lake-with-mountain-background_188544-9126.avif");
}

$grid-columns: 12;

@mixin grid($numberofelements) {


}