@mixin bigTitle {
  color: aquamarine;
  font-size: 6rem;
}

@mixin floating {
  border-radius: 20px;
  box-shadow:  5px 10px #888888;
  border: 1px solid black;
}

$grid-columns: 12;

@mixin grid() {
  display: flex;
  flex-wrap: wrap;
  justify-content: cetner;


}